/* This is a compiled file, you should be editing the file in the templates directory */
.pace .pace-progress {
  background: #FF0200;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 10px;

  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}

.pace-inactive {
  display: none;
}
